<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="statusbar.lyric">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>
    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/AppName"
            android:requestLegacyExternalStorage="true"
            android:resizeableActivity="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup">

        <activity android:theme="@style/OldAppTheme" android:name=".activity.AboutActivity"/>
        <activity android:theme="@style/OldAppTheme" android:name=".activity.ApiAPPListActivity"/>
        <activity android:theme="@style/OldAppTheme" android:name=".activity.SettingsActivity"/>
        <activity
                android:name=".activity.NewSettingsActivity"
                android:exported="true"
                android:screenOrientation="portrait"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="miui.statusbar.lyric.SettingsFragment"/>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity-alias
                android:name=".launcher"
                android:enabled="true"
                android:exported="true"
                android:targetActivity=".activity.NewSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <meta-data
                android:name="xposeddescription"
                android:value="@string/XposedTips"/>
        <meta-data
                android:name="xposedminversion"
                android:value="93"/>
        <meta-data
                android:name="xposedsharedprefs"
                android:value="true"/>
        <meta-data
                android:name="xposedscope"
                android:resource="@array/need_module"/>

        <service
                android:name=".service.QuickTitleService"
                android:exported="true"
                android:icon="@drawable/title_icon"
                android:label="@string/QuickTitle"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>

</manifest>