<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries>
        <package android:name="cn.lyric.getter" />
    </queries>
    <application
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:resizeableActivity="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup">
        <activity
                android:name=".activity.SettingsActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="miui.cn.fkj233.xposed.statusbarlyric.SettingsFragment" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity-alias
                android:name=".launcher"
                android:enabled="true"
                android:exported="true"
                android:targetActivity=".activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <meta-data
                android:name="EasyGoClient"
                android:value="true" />
        <meta-data
                android:name="xposeddescription"
                android:value="@string/xposed_tips" />
        <meta-data
                android:name="xposedminversion"
                android:value="93" />
        <meta-data
                android:name="xposedsharedprefs"
                android:value="true" />
        <meta-data
                android:name="xposedscope"
                android:resource="@array/need_module" />
    </application>
</manifest>
